/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Banner
- Dropdown
- Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root  {--bg-color: #f1f1f1;
        --font: Calibri;
        --font-color-light: black;
        --font-color-dark:  white;
        --bg-color-light:   white;
        --bg-color-dark:    black;
        --color-success:    limegreen;
        --color-failure:    red;
        --tab-bg-color:     black;
	    --banner-bg-color:  white; /*#1e2130;*/;
	    --banner-text-color:black;
		--border-bottom:    2px solid brown;
	}

::placeholder  {text-align: center;
                justify-content: center;
                font: 14px var(--font)}

body {margin: 0px}

/* .container { 
    padding: 10px;
} */

* {
    box-sizing: border-box;
    font-family: "Vesper Libre Bold";
}

/* #second_div {
    min-height: 75vh;
} */

#home_page_div {
    width: 100%;
}

.h-15vh {
	height: 15vh;
}

.h-10vh {
	height: 10vh;
}

.line_break {
    height: 2vh;
}

button {
    /* height: 20vh !important; */
    width: 100%
}

.center {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
  }

.cards {
    padding: 5px;
    margin: 2px;
    object-fit: fill;
    border: 2px solid black
}

.card-img-overlay {
    height: auto !important;
}

.card-img {
    object-fit: contain;
    opacity: 0.2;
}

.card_question {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #0000FF;
}

.yes_message {
    font-size: 2vh;
    color: green;
    border: 1px solid green;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.no_message {
    font-size: 2vh;
    color: red;
    border: 1px solid red;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 5px
}

.home_card {
    background-color: #a3bae6;
    height: 500px;
    justify-content: center;
    display: flex;
    margin-bottom: 1vh;
  }

.fa-thumbs-up {
    color: green;
}

.fa-thumbs-down {
    color: red;
}

